[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
z3c-rml = {editable = true, git = "https://github.com/xmagor/z3c.rml.git"}

[dev-packages]

[requires]
python_version = "3.8"
